
body {
    background-color: rgb(30, 30, 30);
}

#inputnSend {
    position: relative;
    top: 10%;
    left: 15%;
}

#mainTextInput {
    width: 60vw;
    height: 30px;
    padding-left: 15px;
    font-size: 16px;
    color: rgb(200, 200, 200);
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 5px;
    position: relative;
}

#mainButton {
    width: 10vw;
    height: 30px;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 16px;
    color: rgb(200, 200, 200);
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 5px;
    position: relative;
}

#responseText {
    width: 80vw;
    height: auto;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    color: rgb(200, 200, 200);
    background-color: rgb(40, 40, 40);
    border: none;
    border-radius: 5px;
    position: relative;
    top: 10%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
}


